name: build client

on:
  workflow_call:

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      NODE_VERSION: 18.x

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{env.NODE_VERSION}}
        uses: actions/setup-node@v3
        with:
          node-version: ${{env.NODE_VERSION}}
      - run: |
          cd client
          npm run build --if-present
      - run: npm test