name: build server

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_VERSION: 7.0.x
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK ${{env.DOTNET_VERSION}}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{env.DOTNET_VERSION}}
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet publish -c Release -o ./dotnet-webapp -r linux-x64 --self-contained true -p:UseAppHost=true
      - name: Test
        run: dotnet test --no-restore --verbosity normal

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v3
        with: 
          name: dotnet-webapp
          path: dotnet-webapp